footer {
  background-color:#000;
  color:#fff;
  width:100%;
  margin:0;
  padding:0;
  position: absolute;
  bottom: 0px;
  height: 200px;
  padding-top: 50px;
}

.grid  {
background-color:black;
}
.grid {
display:grid;
grid-template-columns:2fr 1fr 1fr 1fr 1fr;
grid-template-rows: 100px;
grid-column-gap: 20px;
grid-row-start: 1 span 2;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ffc107;
}
