

footer {
  background-color:#000;
  color:#fff;
  width:100%;
  position: absolute;
  bottom: 0px;
  min-height: 230px;
  padding-top: 50px;
}

.grid  {
background-color:black;
}
.grid {
display:grid;
grid-template-columns:2fr 2fr 2fr 2fr;
grid-column-gap: 5px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ffc107;
}
.grid {
  /*grid déclaration styles*/
}

@media only screen and all  {
  .grid {
    /*grid declaration styles*/
  }
}
